**/.git
**/.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.vscode/
**/.idea/
**/*.swp
**/*.bak
**/.DS_Store
**/Thumbs.db
**/.AppleDouble
mysql/
mysql_data/
letsencrypt
certbot
*.pem
*.key
db.sqlite3
